body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1afaf
  }

  .gui {
    display: flex;
    justify-content: space-between;
  }
  .left {
    flex: .2;
    height: 500px;
    width: 100px;
    margin: 1vw;
    background-color: #86fb00;
    overflow: hidden;
  }
  
  .right {
    flex: 1;
    margin: 1vw;
    height: 500px;
    background-color: #006eff;
    overflow: hidden;
  }

  .sky {
    height: 400px;
    background-color: #006eff;
    overflow: hidden;
  }

  .soil {
    height: 100px;
    background-color: brown;
    overflow: hidden;
  }