body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    background-image: url("photo/jungle.jpeg");
    background-color: #FFD700;
  }

  .gui {
    display: flex;
    justify-content: space-between;
  }
  .left {
    flex: .2;
    height: 500px;
    width: 100px;
    margin: 1vw;
    background-color: #86fb00;
    overflow: hidden;
  }
  
  .right {
    flex: 1;
    margin: 1vw;
    height: 500px;
    background-color: #006eff;
    overflow: hidden;
  }

  .sky {
    height: 400px;
    background-color: orange;
    overflow: hidden;
  }

  .soil {
    height: 100px;
    background-color: brown;
    overflow: hidden;
  }
  .white {
    color: white;
  }
  
  a {
    color: greenyellow;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black, 
    -1px 1px 0 black, 
    1px 1px 0 black;   
  }

  a:hover {
    color: pink;
    font-weight: bolder;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,  
    -1px 1px 0 #000, 
    1px 1px 0 #000;   
  }